*
!.env.example
.env
!src/
!src/*.ts
!public/
!public/*
!dist/
!dist/index.js
# !dist/Utils.js
!dist/Test1.js
!postman/
!postman/*.json
!e2e/
!e2e/*.ts
!playwright.config.ts
!.github/
!.github/workflows/
!.github/workflows/*.yml
!dist/AutomationTest.js
