*
!package.json
!Dockerfile
!.env.example
.env
!src/
!src/*.ts
!public/
!public/*
!dist/
!dist/index.js
# !dist/Utils.js
!dist/Test1.js
!postman/
!postman/*.json
!.github/
!.github/workflows/
!.github/workflows/*.yml
!dist/AutomationTest.js